<?xml version="1.0" encoding="utf-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id="com.game.eskillsgame"
		version="0.0.1">
	<name> Nadine O'Boyle's eskills memory game</name>
		<gap:platform name="android" />
<description> This eskills game was developed by Nadine O'Boyle for ITGirls 2014!</description>
		<gap:platform name="ios" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />
		<icon src="icon.png" />
</widget>
